.App {
  background-image: url(./working-desk-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 713px;
}

.back{
  text-align: center;
  width:45%;
  margin: 0 auto;
  border-radius: 7px;
  padding: 1%;
  background-color: burlywood;
}

.add-section{
  display: flex;
  justify-content: space-around;
  margin: 15px 0 50px 0;
  width: 80%;
}

.todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-buttons{
  margin-bottom: 15px;
}

.filterr{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 70%;
}